<div class="row">
    <div class="col m4">
        <div class="center-align">
            <div></div>
            <button class="btn-floating waves-effect waves-light" [ngClass]="colorSkin" (click)="onOpenText($event, 'componentName')"><i class="material-icons">subject</i></button>
        </div>
        <div>
            <div class="center-align label"><label>Name</label></div>
        </div>
    </div>
    <div class="col m4">
        <!--<div class="center-align">
                    <div></div>
                    <button class="btn-floating waves-effect waves-light" [ngClass]="colorSkin" (click)="onOpenColor($event)"><i class="material-icons">subject</i></button>
                </div>
                <div>
                    <div class="label center-align"><label>Text True</label></div>
                </div>-->
    </div>
    <div class="col m4">
        <!--<div class="center-align">
                    <div></div>
                    <button class="btn-floating waves-effect waves-light" [ngClass]="colorSkin" (click)="onOpenColor($event)"><i class="material-icons">subject</i></button>
                </div>
                <div>
                    <div class="label center-align"><label>Text True</label></div>
                </div>-->
    </div>
</div>
<div class="row">
    <div class="col m4">
        <div class="center-align">
            <div></div>
            <button class="btn-floating waves-effect waves-light" [ngClass]="colorSkin" (click)="onOpenText($event, 'textTrue')"><i class="material-icons">subject</i></button>
        </div>
        <div>
            <div class="label center-align"><label>Text True</label></div>
        </div>
    </div>
    <div class="col m4">
        <div class="center-align">
            <div></div>
            <button class="btn-floating waves-effect waves-light" [ngClass]="colorSkin" (click)="onOpenColor($event, 'textColorTrue')"><i class="material-icons">color_lens</i></button>
        </div>
        <div>
            <div class="center-align label"><label>Text true</label></div>
        </div>
    </div>
    <div class="col m4">
        <div class="center-align">
            <div></div>
            <button class="btn-floating waves-effect waves-light" [ngClass]="colorSkin" (click)="onOpenColor($event, 'ledColorTrue')"><i class="material-icons">color_lens</i></button>
        </div>
        <div>
            <div class="center-align label"><label>Led true</label></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col m4">
        <div class="center-align">
            <div></div>
            <button class="btn-floating waves-effect waves-light" [ngClass]="colorSkin" (click)="onOpenText($event, 'textFalse')"><i class="material-icons">subject</i></button>
        </div>
        <div>
            <div class="center-align label"><label>Text false</label></div>
        </div>
    </div>
    <div class="col m4">
        <div class="center-align">
            <div></div>
            <button class="btn-floating waves-effect waves-light" [ngClass]="colorSkin" (click)="onOpenColor($event, 'textColorFalse')"><i class="material-icons">color_lens</i></button>
        </div>
        <div>
            <div class="center-align label"><label>Text false</label></div>
        </div>
    </div>
    <div class="col m4">
        <div class="center-align">
            <div></div>
            <button class="btn-floating waves-effect waves-light" [ngClass]="colorSkin" (click)="onOpenColor($event, 'ledColorFalse')"><i class="material-icons">color_lens</i></button>
        </div>
        <div>
            <div class="label center-align"><label>Led false</label></div>
        </div>
    </div>
</div>